form#z-search-panel {
    display: none;
    font-family: sans-serif;
    position: absolute;
    z-index: 9999999999999999;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    box-sizing: border-box;
    background: rgb(45, 46, 50);
    padding: 20px;
    border: 5px solid rgba(0, 0, 0, .3);
    color: rgba(255, 255, 255, .9);
}

form#z-search-panel.active {
    display: block;
}

form#z-search-panel input {
    outline: none;
    border: 0;
    border-bottom: 0;
    height: 70px;
    width: 100%;
    font-size: 50px;
    background: transparent;
    color: rgb(255, 255, 255);
}

form#z-search-panel input::-webkit-input-placeholder {
    color: rgb(112, 138, 161);
}

form#z-search-panel input:focus {
    border-bottom: 3px solid rgb(68, 75, 92);
}

form#z-search-panel ul {
    min-height: 50px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

form#z-search-panel li {
    height: 50px;
    overflow: hidden;
    display: table-row;
}

form#z-search-panel img {
    width: 20px;
    height: 20px;
    vertical-align: middle;
}

form#z-search-panel .number-container {
    display: table-cell;
    vertical-align: middle;
}

form#z-search-panel .icon-container {
    display: table-cell;
    vertical-align: middle;
    padding: 0 10px;
}

form#z-search-panel .number {
    display: table-cell;
    vertical-align: middle;
    box-sizing: border-box;
    font-weight: bold;
    height: 30px;
    width: 30px;
    border-radius: 30px;
    background: rgb(65, 87, 141);
    font-size: 18px;
    color: rgb(137, 237, 246);
    text-align: center;
}

form#z-search-panel .text {
    text-align: left;
    display: table-cell;
    vertical-align: middle;
    white-space: nowrap;
    text-overflow: ellipsis;
}